<?php
// ===================================================
// DB Credentials (replace with your values)
// ===================================================
$db = 'picontrol';
$db_hostname = 'localhost';
$db_username = 'picontrol-user';
$db_password = 'picontr0l!';
?>